flows.json
[
    {
        "id": "3dd861c5ae53d1b7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dbed52f2ec626430",
        "type": "http in",
        "z": "3dd861c5ae53d1b7",
        "name": "",
        "url": "/api",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "2f1e31a7d1021858",
                "6a6e3ff13dd76f36"
            ]
        ]
    },
    {
        "id": "90d08d5f43b9afd9",
        "type": "http response",
        "z": "3dd861c5ae53d1b7",
        "name": "Sucess",
        "statusCode": "200",
        "headers": {},
        "x": 600,
        "y": 780,
        "wires": []
    },
    {
        "id": "2f1e31a7d1021858",
        "type": "debug",
        "z": "3dd861c5ae53d1b7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 700,
        "wires": []
    },
    {
        "id": "6a6e3ff13dd76f36",
        "type": "function",
        "z": "3dd861c5ae53d1b7",
        "name": "Tratamento de dados",
        "func": "let obj = msg.payload;\nmsg.request_data = obj\n// global.set(\"valve-id\", obj.id)\nif (obj.id == \"246f284a60e0\")\n{\n    global.set(\"valve-sample\", obj.data)\n    if (obj.valve_status)\n        msg.request_data.valve_status = \"Valvula aberta\";\n    else\n        msg.request_data.valve_status = \"Valvula Fechada\";\n}\n\nlet valve = global.get(\"valve-action\");\n\nmsg.payload = \"{\\\"valve\\\": \\\"\"+ valve +\"\\\"}\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 780,
        "wires": [
            [
                "90d08d5f43b9afd9",
                "fb3ef67dbc1dc05d"
            ]
        ]
    },
    {
        "id": "35ce45ededefac42",
        "type": "function",
        "z": "3dd861c5ae53d1b7",
        "name": "InitVars",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "initialize": "global.set(\"valve-action\", \"CLOSE\");",
        "finalize": "",
        "libs": [],
        "x": 80,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d3b7736eafe699a1",
        "type": "function",
        "z": "3dd861c5ae53d1b7",
        "name": "setValve",
        "func": "global.set(\"valve-action\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 620,
        "wires": [
            [
                "93743b78f5e42b34"
            ]
        ]
    },
    {
        "id": "b5975111b13120f2",
        "type": "inject",
        "z": "3dd861c5ae53d1b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "CLOSE",
        "payloadType": "str",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "d3b7736eafe699a1"
            ]
        ]
    },
    {
        "id": "577094038c5fb117",
        "type": "inject",
        "z": "3dd861c5ae53d1b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OPEN",
        "payloadType": "str",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "d3b7736eafe699a1"
            ]
        ]
    },
    {
        "id": "93743b78f5e42b34",
        "type": "debug",
        "z": "3dd861c5ae53d1b7",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 620,
        "wires": []
    },
    {
        "id": "c31c5154baac1ca6",
        "type": "ui_text",
        "z": "3dd861c5ae53d1b7",
        "group": "28298f8c28526100",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Status da válvula",
        "format": "{{msg.request_data.valve_status}}",
        "layout": "col-center",
        "className": "",
        "x": 410,
        "y": 900,
        "wires": []
    },
    {
        "id": "4a924d5a0124f1a3",
        "type": "ui_chart",
        "z": "3dd861c5ae53d1b7",
        "name": "",
        "group": "e2707516a72e2b3b",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "Histórico (m³/hora)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "64bc8ed8899ee3fb",
        "type": "ui_button",
        "z": "3dd861c5ae53d1b7",
        "name": "",
        "group": "28298f8c28526100",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Religação",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OPEN",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "87cd2899a4da9b81"
            ]
        ]
    },
    {
        "id": "3dd23b05ae8a25d3",
        "type": "ui_button",
        "z": "3dd861c5ae53d1b7",
        "name": "",
        "group": "28298f8c28526100",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Corte",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "CLOSE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1040,
        "wires": [
            [
                "87cd2899a4da9b81"
            ]
        ]
    },
    {
        "id": "255844438c72a9a3",
        "type": "ui_toast",
        "z": "3dd861c5ae53d1b7",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "Ok",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 610,
        "y": 1120,
        "wires": [
            [
                "ab691a30a901af02",
                "ec159481ae83d259"
            ]
        ]
    },
    {
        "id": "ec159481ae83d259",
        "type": "debug",
        "z": "3dd861c5ae53d1b7",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1220,
        "wires": []
    },
    {
        "id": "87cd2899a4da9b81",
        "type": "function",
        "z": "3dd861c5ae53d1b7",
        "name": "Tratamento",
        "func": "let valve = msg.payload\nlet new_msg;\nif (valve == \"OPEN\")\n{\n    new_msg = \"Habilitar valvula?\";\n}\nelse\n{\n    new_msg = \"Desabilitar valvula?\";\n}\nmsg.valve_value = valve;\nmsg.payload = new_msg;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "255844438c72a9a3"
            ]
        ]
    },
    {
        "id": "ab691a30a901af02",
        "type": "function",
        "z": "3dd861c5ae53d1b7",
        "name": "Acionamento",
        "func": "if(msg.payload == \"Ok\")\n{\n    let valve = msg.valve_value;\n    global.set(\"valve-action\", valve);\n}\nmsg.payload = global.get(\"valve-action\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1120,
        "wires": [
            [
                "b808d9fd521f4efe"
            ]
        ]
    },
    {
        "id": "b808d9fd521f4efe",
        "type": "debug",
        "z": "3dd861c5ae53d1b7",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fb3ef67dbc1dc05d",
        "type": "function",
        "z": "3dd861c5ae53d1b7",
        "name": "function 2",
        "func": "let obj = msg.request_data\n\nif (obj.id == \"246f284a60e0\") {\n     msg.payload = obj.data\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 900,
        "wires": [
            [
                "c31c5154baac1ca6",
                "4a924d5a0124f1a3",
                "2d9525dc84fc74e3",
                "7061bef50f26bacb"
            ]
        ]
    },
    {
        "id": "e87244d00e278bd0",
        "type": "ui_toast",
        "z": "3dd861c5ae53d1b7",
        "position": "bottom left",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "sample notification",
        "x": 590,
        "y": 980,
        "wires": []
    },
    {
        "id": "2d9525dc84fc74e3",
        "type": "function",
        "z": "3dd861c5ae53d1b7",
        "name": "function 3",
        "func": "msg.payload = \"Dados Atualizados\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 980,
        "wires": [
            [
                "e87244d00e278bd0"
            ]
        ]
    },
    {
        "id": "7061bef50f26bacb",
        "type": "ui_gauge",
        "z": "3dd861c5ae53d1b7",
        "name": "",
        "group": "28298f8c28526100",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "wave",
        "title": "",
        "label": "m³",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 370,
        "y": 860,
        "wires": []
    },
    {
        "id": "039f21242c0da6da",
        "type": "ui_spacer",
        "z": "3dd861c5ae53d1b7",
        "name": "spacer",
        "group": "28298f8c28526100",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "28298f8c28526100",
        "type": "ui_group",
        "name": "Hidrometro",
        "tab": "d65502b1.ee517",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2707516a72e2b3b",
        "type": "ui_group",
        "name": "Historico de Consumo",
        "tab": "d65502b1.ee517",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d65502b1.ee517",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]
